<main>
  <%= render 'shared/contents' %>
  <% @libraries.each do |category, libraries| %>
    <h2><%= category.name %></h2>
    <p><%= category.description %></p>
    <ul>
      <% libraries.each do |library| %>
        <li><%= link_to library.name, library.url %> тнР<%= library.stars %>, ЁЯУЕ<%= library.last_commit %> - <%= library.description %></li>
      <% end %>
    </ul>
  <% end %>
</main>  
