<header>
  <h1>Awesome Ruby</h1>
  <nav>
    <ul>
      <li>
        <%= link_to "All", "/" %>
      </li>
      <li>
        <%= link_to "â‰¥10â­", "/?min_stars=10" %>
      </li>
      <li>
        <%= link_to "â‰¥50â­", "/?min_stars=50" %>
      </li>
      <li>
        <%= link_to "â‰¥100â­", "/?min_stars=100" %>
      </li>
      <li>
        <%= link_to "â‰¥500â­", "/?min_stars=500" %>
      </li>
      <li>
        <%= link_to "â‰¥1000ðŸŒŸ", "/?min_stars=1000" %>
      </li>  
    </ul>
  </nav>
  <p>
    Ruby is awesome. And it has a vast awesome list: <%= link_to "awesome-ruby", "https://github.com/markets/awesome-ruby" %>.
    This is a mirror of it where each library is marked with number of
    stars at <%= link_to "Github", "https://github.com" %> and number of days since
    the last commit.
  </p>
</header>
