<header>
  <h1>Awesome Ruby</h1>
  <nav>
    <div class="my-4">
      <%= link_to "All", "/", class: "btn btn-outline-primary" %>
      <%= link_to "â‰¥10â­", "/?min_stars=10", class: "btn btn-outline-primary" %>
      <%= link_to "â‰¥50â­", "/?min_stars=50", class: "btn btn-outline-primary" %>
      <%= link_to "â‰¥100â­", "/?min_stars=100", class: "btn btn-outline-primary" %>
      <%= link_to "â‰¥500â­", "/?min_stars=500", class: "btn btn-outline-primary" %>
      <%= link_to "â‰¥1000ðŸŒŸ", "/?min_stars=1000", class: "btn btn-outline-primary" %>
    </div>
  </nav>
  <p>
    Ruby is awesome. And it has a vast awesome list: <%= link_to "awesome-ruby", "https://github.com/markets/awesome-ruby" %>.
    This is a mirror of it where each library is marked with number of
    stars at <%= link_to "Github", "https://github.com" %> and number of days since
    the last commit.
  </p>
</header>
