<main>
  <%= render 'contents' %>
  <% @libraries.each do |category, libraries| %>
    <h2 id="<%= category.name.split(" ").join("-") %>"><%= category.name %></h2>
    <ul>
      <% libraries.each do |library| %>
        <li>
          <%= link_to library.name, library.url %>
           тнР<%= library.stars %>, ЁЯУЕ<%= library.last_commit %> - <%= library.description %>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
